*{
  padding: 0;
  margin: 0;
  font-family: "Lato", serif;
}
.wrapper{
  background-color: #DFD3C3;
  width: 100%;
  min-height: 100vh;
}
h1{
  font-size: 35px;
  font-family: "Playfair", serif;
  color: #C5705D;
}
p{
  font-size:14px;
}
i{
font-size:14px;
color:#A02334;
}
.active{
  background-color: white;
}